<div class="row">
    <div class="span4">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label checkbox">
                    <input type="checkbox" ng-model="cercaCittaPartenza"> Città partenza
                </label>
                <div class="controls">    
                    <input type="text" class="span2 search-query"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label checkbox">
                    <input type="checkbox" value="option2"> Città arrivo
                </label>
                <div class="controls">    
                    <input type="text" class="span2 search-query"/>
                </div>
            </div>
        </form>
    </div>
    <div class="span3">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label checkbox">
                    <input type="checkbox" value="option3"> Data e ora
                </label>
                <div class="controls">    
                    <input type="text" class="span2 search-query"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label checkbox">
                    <input type="checkbox" value="option4"> Prezzo
                </label>
                <div class="controls">    
                    <input type="text" class="span2 search-query"/>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row"><div class="span8"><button class="btn btn-block btn-primary">Cerca</button></div></div>