<div class="row ">
    <p class="span1 lead" ng-init="getPVdaRootScope()">Voci: </p>
    <div class="span1 btn-group">
        <button class="btn" ng-click="creaVoce('volo')"><img src="img/volo.png" width="15"/></button>
        <button class="btn" ng-click="creaVoce('soggiorno')"><img src="img/soggiorno.png" width="15"/></button>
        <button class="btn" ng-click="creaVoce('visita')"><img src="img/visita.png" width="15"/></button>
    </div>
</div>
<div class="row alerts">
  <div class="span3 alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
</div>
<div class="row"  ng-repeat="voce in PV.voci">
    <br>

    <ul ng-class="{'voce-item-btn-selected': isSelezionato($index), 'voce-item':true, 'voce-item-btn':true, 'pointer':true}" ng-click="seleziona(voce.tipo, $index)">
        <button class='close voce-close' ng-click='eliminaVoce($index)' aria-hidden='true' >×</button><br/>
        <li class="span1 voce-item-col">
            <img ng-src="img/{{voce.tipo}}.png" width="80"/>
        </li>
        <li ng-class="{'span2': true, 'voce-item-col': true}" ng-if="!isCompleta(voce)">
            <text class="voce-item-left" >Scegli {{voce.tipo}} </text><i class="voce-item-right icon-chevron-right"></i>
        </li>
        <li class="span2 voce-item-col" ng-if="isVolo(voce)">
            <p class="voce-item-left" > 
                {{voce.rotta.cittaPartenza}} - {{voce.rotta.cittaArrivo}}
                <br/>
                {{voce.dataOra}}
                <br/>
                €{{voce.costo}} 
            </p>
            <i class="voce-item-right icon-chevron-right"></i>
        </li>
        <li class="span2 voce-item-col" ng-if="isSoggiorno(voce)">
            <p class="voce-item-left" > 
                {{voce.albergo.nome}} - {{voce.albergo.citta}} - {{voce.albergo.stelle}}
                <br/>
                {{voce.giornoInizio}} - {{voce.giornoFine}}
                <br/>
                €{{voce.costo}} 
            </p>
            <i class="voce-item-right icon-chevron-right"></i>
        </li>
        <li class="span2 voce-item-col" ng-if="isVisita(voce)">
            <p class="voce-item-left" > 
                {{voce.museo.nome}} - {{voce.museo.citta}}
                <br/>
                {{voce.dataOra}}
                <br/>
                €{{voce.costo}} 
            </p>
            <i class="voce-item-right icon-chevron-right"></i>
        </li>
    </ul>
</div>
