<div class="row">
    <div class="span12">
        <legend>Crea il tuo viaggio <button class="btn span2 btn-success pull-right"><i class="icon-shopping-cart icon-white"></i>Acquista</button>
            <button class="btn btn-small pull-right" ng-click="salvaPV()"><i class="icon-share"></i>Salva e condividi</button><button class="btn btn-small pull-right"><i class="icon-gift"></i>Crea GiftList</button></legend>
    </div>
</div>
<div class="row">
    <div class="span3" name="listaVoci" ng-include="'templates/include/listaVoci.html'"></div>
    <div class="span9" name="consultazione" ng-include="'templates/include/consultazione.html'"></div>
</div>