<div class="col-md-4 col-md-offset-4">
    <legend>Dati necessari alla registrazione</legend>
    <form name ='formRegistrazione'ng-init="inizializzaUtente()">
       <br/>
       
       <input name="email" type="text" class="form-control" ng-model="utente.email" ng-required="true" ng-pattern='/^([_a-z0-9-])+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/' placeholder="Inserisci la tua email"></input>
       <label class="label label-warning pointer" ng-show='formRegistrazione.email.$invalid' ng-click='checkEmail(formRegistrazione.email)'>non valido  <span class="glyphicon glyphicon-info-sign"></span></label>
       <label class="label label-success pointer" ng-hide='formRegistrazione.email.$invalid' ng-click='checkEmail(formRegistrazione.email)'>ok <span class="glyphicon glyphicon-info-sign"></span></label>
       <br/>
       
       <input name="pwd" type="password" class="form-control" ng-model="utente.password" ng-required="true" ng-pattern="/^.{5,15}$/" placeholder="Inserisci la tua password"></input>
       <label class="label label-warning pointer" ng-show='formRegistrazione.pwd.$invalid' ng-click='checkPwd(formRegistrazione.pwd)'>non valido <span class="glyphicon glyphicon-info-sign"></span></label>
       <label class="label label-success pointer" ng-hide='formRegistrazione.pwd.$invalid' ng-click='checkPwd(formRegistrazione.pwd)'>ok <span class="glyphicon glyphicon-info-sign"></span></label>
       <br/>
       <button class="btn btn-block btn-info" ng-click="registrazione(utente, formRegistrazione)" >Registrati</button>
       
       <br/><br/> 
       <input type="text" class="form-control" ng-model="utente.email" placeholder="La potenza del Two-Way Binding"></input>
        
        
    </form> 
</div>