.pointer {
    cursor: pointer;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
    background-color: rgba(20, 155, 223, 0.84);
}
.alert .close {
    right: -71px;
}
.alert {
    padding: 8px 82px 8px 14px;
    margin-bottom: 0px;
}
a {
    color: rgba(20, 155, 223, 0.84);
}
input-login-registr.ng-invalid {
    border: 1px solid yellow;
}
input-login-registr.ng-valid {
    border: 1px solid green;
}

.glyphicon {
    margin-left: 3px;
}
.btn-registrazione {
    width: 296px;
}
.btn-login{
    width: 221px !important;
}
.modal-header {
    margin-right: 10px;
}    
.fade {
    -webkit-transition: opacity 0.01s linear;
    -moz-transition: opacity 0.01s linear;
    -ms-transition: opacity 0.01s linear;
    -o-transition: opacity 0.01s linear;
    transition: opacity 0.01s linear;
}
.voce-item {
    list-style: none;
    *zoom: 1;
}
.voce-item-btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    border: #b9b9b9 1px solid;
}
.voce-item-btn:hover{
    color: #008dff;
    border: rgba(20, 155, 223, 0.48) 1px solid;
    background-color: rgba(20, 155, 223, 0);
}
.voce-item-btn-selected {
    background-color: rgba(20, 155, 223, 0.48) !important;
    border: rgba(20, 155, 223, 0.48) 1px solid !important;
    color: #333333 !important;
}
.voce-item-col {
    margin-left: 0px;
}
.voce-item-left {
    float: left;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.voce-item-right {
    float: right;
    margin-right: 0%;
    margin-top: 10%; 
}
.close{
    opacity: 0.5;
}
.close:hover {
    opacity: 1;
}
.voce-close {
    float: left;
    opacity: 0.5;
}
li{
    text-align: left;
}
ul{
    margin: 0 0 10px 31px;
}
.voce-consultazione {
    display: inline-block;
    padding: 4px 12px;
    list-style: none;
    margin-top: 15px;
}
.datepicker{
    position: absolute;
    z-index: 2000;
}
.zero-margin-left{
    margin-left: 0px !important;
    margin-right: -6px !important;
}
.intestazione{
    background-color: rgba(20, 155, 223, 0.48);
    margin-left: -13px;
    margin-right: -13px;
    border: rgba(20, 155, 223, 0.48) 1px solid !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}