<!--
Politecnico di Milano, Software Engineering 2 (autumn semester)
proj codename: TravelDreamX
-->
<div class="container modal span9" ng-controller="pbModalController">
    <div class="row">
        <div class="span9">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br/>
                <p class="lead">
                    {{soggiorno.albergo.nome}}
                    <i class="icon-star-empty pull-right" ng-repeat="n in []| range:(5 - soggiorno.albergo.stelle)"></i>
                    <i class="icon-star pull-right" ng-repeat="n in []| range:soggiorno.albergo.stelle"></i>
                </p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="span4">    
                        <img class="img-polaroid" ng-src="{{soggiorno.albergo.urlFoto}}"/>
                    </div>
                    <div class="span4">
                        Citt&agrave;: <strong>{{soggiorno.albergo.citta}}</strong> <br/>
                        Periodo: <strong>{{soggiorno.giornoInizio|date:'dd/MM/yyyy'}} - {{soggiorno.giornoFine|date:'dd/MM/yyyy'}}</strong> <br/>
                        Tipologia: <strong>
                            <span ng-if="soggiorno.numeroPersone === 1">Camera singola</span>
                            <span ng-if="soggiorno.numeroPersone === 2">Camera doppia</span>
                            <span ng-if="soggiorno.numeroPersone === 3">Camera tripla</span>
                            <span ng-if="soggiorno.numeroPersone === 4">Camera quadrupla</span></strong> <br/>
                        <p class="lead">solo &euro; {{soggiorno.costo}}</p> 
                        <button class="btn btn-large btn-success" ng-click="aggiungiPBaPV(soggiorno)"><i class="icon-plus-sign icon-white"></i> Aggiungi al pacchetto</button>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="span8">
                        <p class="lead">Descrizione</p>
                        <p class="justify">{{soggiorno.albergo.descrizione}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="span8" ng-controller="autenticazioneController">
                    <button class="btn" ng-click="dismiss()">Chiudi</button>
                    <span ng-controller="gestioneOffertaController">
                    <button class="btn btn-warning" ng-if="isImpiegato() && isAbilitato(soggiorno)" ng-click="disabilitaPB(soggiorno)"><i class="icon-shopping-cart icon-white"></i> Disabilita</button>
                    <button class="btn btn-success" ng-if="isImpiegato() && !isAbilitato(soggiorno)" ng-click="abilitaPB(soggiorno)"><i class="icon-shopping-cart icon-white"></i> Abilita</button> 
                    </span>
                    <button class="btn btn-success" ng-click="aggiungiPBaPV(soggiorno)"><i class="icon-plus-sign icon-white"></i> Aggiungi al pacchetto</button>
                </div>
            </div>
        </div>
    </div>
</div>