<!--
Politecnico di Milano, Software Engineering 2 (autumn semester)
proj codename: TravelDreamX
-->
<div class="container modal span9" ng-controller="pvModalController">
    <div class="row">
        <div class="span9">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br/>
                <p class="lead">
                    {{pv.nome}}
                </p>
            </div>
            <div class="modal-body">
            </div>    
        </div>
    </div>
</div>