<!--
Politecnico di Milano, Software Engineering 2 (autumn semester)
proj codename: TravelDreamX
-->
<div class="container modal span9" ng-controller="pvModalController">
    <div class="row" ng-init="mettiPVinRootScope(pv)">
        <div class="span9" ng-controller="autenticazioneController">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br/>
                <p class="lead">
                    {{pv.nome}}
                </p>
            </div>
            <div class="modal-body" ng-init="setIndexes(pv)">
                <div class="row">
                    <div class="span8">
                        <p class="lead">{{pv.voci[indexSoggiorno].albergo.nome}} 
                            &nbsp;&nbsp;
                            <i class="icon-star-empty pull-right" ng-repeat="n in []| range:(5 - pv.voci[indexSoggiorno].albergo.stelle)"></i>
                            <i class="icon-star pull-right" ng-repeat="n in []| range: pv.voci[indexSoggiorno].albergo.stelle"></i>
                        </p> 
                    </div>
                </div>
                <div class="row">
                    <div class="span4">                        
                        <img class="img-polaroid" ng-src="{{pv.voci[indexSoggiorno].albergo.urlFoto}}" ng-if="isPresente(pv, 'Soggiorno')"/>
                    </div>
                    <div class="span4">
                        <div class="well well-small well-dettaglio-PV" ng-if="isPresente(pv, 'Volo')">
                            <img class="pull-left" src="img/Volo.png" width="40"/>
                            <div class="span3"><span>Andata: {{pv.voci[indexVoloAndata].dataOra|date:'dd/MM/yyyy hh:mm'}}<br/></span>
                                <span ng-if="indexVoloRitorno !== null">Ritorno: {{pv.voci[indexVoloRitorno].dataOra|date:'dd/MM/yyyy hh:mm'}}</span></div>
                        </div>
                        <div class="well well-small well-dettaglio-PV" ng-if="isPresente(pv, 'Visita')">
                            <img class="pull-left" src="img/Visita.png" width="40"/>
                            <div class="span3">Nome: {{pv.voci[indexVisita].museo.nome}}<br/>Data: {{pv.voci[indexVisita].dataOra|date:'dd/MM/yyyy hh:mm'}}</div>
                        </div>
                        <div class="span1">solo<p class="lead"> &euro;{{calcolaPrezzo(pv)}}</p></div>
                        <div class="span2" ng-if='!isImpiegato()'>
                            <button class="btn span2 btn-success" ng-click="vaiAdAcquista()"><i class="icon-shopping-cart icon-white"></i> Acquista</button> <br/>
                        </div>
                        <span ng-controller="gestioneOffertaController">
                        <div class="span2" ng-if='isImpiegato() && isAbilitato(pv)'>
                            <button class="btn span2 btn-warning" ng-click="disabilitaPV(pv)"><i class="icon-shopping-cart icon-white"></i> Disabilita</button> <br/>
                        </div>
                        <div class="span2" ng-if='isImpiegato() && !isAbilitato(pv)'>
                            <button class="btn span2 btn-success" ng-click="abilitaPV(pv)"><i class="icon-shopping-cart icon-white"></i> Abilita</button> <br/>
                        </div>
                        </span>
                        <button class="btn btn-link pull-right" ng-if='isImpiegato()' ng-click="fwdToComposizione(pv)">oppure modifica il pacchetto</button>
                        <button class="btn btn-link pull-right btn-personalizza-PV" ng-if='!isImpiegato()' ng-click="fwdToComposizione(pv)">oppure personalizza il pacchetto</button>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="span8">
                        <p class="lead">Dettagli soggiorno</p>
                        Citt&agrave;: <strong>{{pv.voci[indexSoggiorno].albergo.citta}}</strong> &nbsp;
                        Periodo: <strong>{{pv.voci[indexSoggiorno].giornoInizio|date:'dd/MM/yyyy'}} - {{pv.voci[indexSoggiorno].giornoFine|date:'dd/MM/yyyy'}}</strong>&nbsp;
                        Tipologia: <strong>
                            <span ng-if="pv.voci[indexSoggiorno].numeroPersone === 1">Camera singola</span>
                            <span ng-if="pv.voci[indexSoggiorno].numeroPersone === 2">Camera doppia</span>
                            <span ng-if="pv.voci[indexSoggiorno].numeroPersone === 3">Camera tripla</span>
                            <span ng-if="pv.voci[indexSoggiorno].numeroPersone === 4">Camera quadrupla</span></strong>&nbsp;
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="span8">
                        <p class="lead">Descrizione</p>
                        <p class="justify">{{pv.voci[indexSoggiorno].albergo.descrizione}}</p>
                    </div>
                </div>
            </div> 
            <div class="modal-footer">
                <div class="span8">
                    <button class="btn" ng-click="dismiss()">Chiudi</button>
                    <button class="btn" ng-click="fwdToComposizione(pv)" ng-if="!isImpiegato()"><i class="icon-edit"></i> Personalizza pacchetto</button>
                    <button class="btn" ng-click="fwdToComposizione(pv)" ng-if="isImpiegato()"><i class="icon-edit"></i> Modifica pacchetto</button>
                    <span ng-controller="gestioneOffertaController">
                    <button class="btn btn-warning" ng-if="isImpiegato() && isAbilitato(pv)" ng-click="disabilitaPV(pv)"><i class="icon-shopping-cart icon-white"></i> Disabilita</button>
                    <button class="btn btn-success" ng-if="isImpiegato() && !isAbilitato(pv)" ng-click="abilitaPV(pv)"><i class="icon-shopping-cart icon-white"></i> Abilita</button> 
                    </span>
                    <button class="btn btn-success" ng-click="vaiAdAcquista()" ng-if="!isImpiegato()"><i class="icon-shopping-cart icon-white"></i> Acquista</button>
                </div>
            </div>
        </div>
    </div>
</div>