<!DOCTYPE html>
<!--
Politecnico di Milano, Software Engineering 2 (autumn semester)
proj codename: TravelDreamX
-->
<div class="row">
    <div class="span3">
        <button class="btn btn-block btn-large" ng-click="gestisci = 'utenti'; recuperaUtenti()">Gestione utenti</button>
        <button class="btn btn-block btn-large" ng-click="gestisci = 'pagamenti'">Gestione pagamenti</button>
    </div>
    <div class="span9">
        <div class="row" ng-show="waiting">
            <div class="span3 offset3">&nbsp;&nbsp;Aspetta... &nbsp;&nbsp;<img src="img/loading.gif" width="20"/></div>
        </div>
        <p class="lead" ng-if="gestisci === 'utenti'">Lista utenti traveldream</p>
        <table class="table table-condensed table-hover table-striped" ng-if="gestisci === 'utenti'">
            <thead>
                <tr>
                    <th>Abilita/Disabilita</th>
                    <th>Email</th>
                    <th>Livello</th>
                    <th>Vedi pagamenti</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="utente in listaUtenti">
                    <td ng-if="utente.abilitato"><button ng-click="disattivaUtente(utente)"></button> </td>
                    <td ng-if="!utente.abilitato"><button class="btn" ng-click="abilitaUtente(utente)"></button> </td>
                    <td>{{utente.email}}</td>
                    <td ng-if="utente.livello === 2">ADMIN_img</td>
                    <td ng-if="utente.livello === 1">DIP_img</td>
                    <td ng-if="utente.livello === 0">USER_img</td>
                    <td><button ng-click="recuperaPagamentiUtente(utente)">+</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>