<!--
Politecnico di Milano, Software Engineering 2 (autumn semester)
proj codename: TravelDreamX
-->
<div class="container" ng-controller="condivisioneController">
    <div class="row" ng-init="getLinkCondivisione()">
        <div class="span6">
            <div class="modal-header" align="center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br/><p class="lead">Info condivisione</p>
            </div>
            <div class="modal-body">
                    <br/>
                    <div class="row">
                    <p  class="testo-modale-condivisione">Dando questo link ai tuoi amici, essi potranno consultare e acquistare il pacchetto viaggio da te creato.</p>
                    </div>
                    <div class="row" align="center">
                        <input name="link" type="text" class="span4 form-control input-login-registr" ng-readonly="true" ng-model="linkCondivisione" />
                    </div>
                    <div class="row" align="center">
                        <legend></legend>
                        <p>Condividi su: 
                            <a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank">
                                <img style="height:32px;width:32px" alt="facebook" src="img/facebook.png"/>
                            </a> &nbsp;
                            <a href="http://twitter.com/intent/tweet?hashtags=TravelDreamX&text=Il mio prossimo viaggio! Solo grazie a" target="_blank" >
                                <img style="height:32px;width:32px" alt="twitter" src="img/twitter.png"/>
                            </a> 
                        </p>
                    </div>
                    <div class="row">
                    <legend></legend>
                    <p class="testo-modale-condivisione">Oppure scrivi l'indirizzo email delle persone con cui vuoi condividerlo:</p>
                    </div>
                    <div class="row" ng-repeat="email in emails" align="center">
                        <input type="text" class="span2" placeholder="mario.rossi@email.it" ng-model="email.indirizzoEmail"/><button><i class="icon-plus-sign" ng-click="aggiungiCampoEmail()"></i></button>
                    </div>
                    <div class="row" align="center"><input type="button" class="btn btn-success span2" ng-disabled="!ceAlmenoUnIndirizzo()" ng-click="condividi()" value="Condividi!"/></div>
            </div>
        </div>
    </div>
</div>